#pokemon{
  font-size: 36px; 
}
h3{
  text-transform: capitalize;
  color: #505050;
}
h2{
  color:#505050;
}

body{
  text-align: center;
  background-image: url("https://external-preview.redd.it/e5zoQw-hgw-LCjdhC_4G8IAcHxex5pzda_BD_FPTcBY.png?auto=webp&s=c0b96b5ec20010a15864b8a0c9b202c119e52fe8"); 
  background-size:cover;
} 

#logo{
  display: block;
  height: 60%;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 5%;
 }

#starters{
  display: block;
 height: 100%;
 width: 100%;
 margin: 0 auto;
}

div{
  display: inline-block;
  width: 25%;
  text-align: center;

} 
.pokemon-list{
  overflow: auto;
  height: 60vh;
} 
@media screen and (max-width: 600px) {

}